.filterState{
    display: none;
}

.speciesTitle{
    margin: 0px;
}
.speciesSubtitle{
    margin-top: 0.3em;
    margin-bottom: 0.8em;
    padding-bottom: 0.3em;
    border-bottom: 1px gray solid;
}

.hidden{
    display: none;
}

li.polyclave-current-species{
    border: solid black 1px;
}

#profile-page-thumbs{
    padding:8px;
}

#profile-page-thumbs img{
    float: left;
    width: 25%;
    margin-right: 0.5em;
    padding: 5px;
    border: solid #cccccc 1px;
}

div.profile-notes{
    width: 100%;
    margin-bottom: 1em;
}

#polyclave-audio-button{

}

ul#profile-characters{
    margin-top: 1em;
    clear: both;
}

#polyclave-filter-page-footer{
    text-align: right;
}

#polyclave-audio-button.stop-state{
    color:red;
}

#polyclave-audio-button.stop-state:after {
  background-color: red;
}

.polyclave-state-image{
    height: 60px;
    vertical-align:middle;
    margin-top: -9px;
    margin-bottom: -9px;
    margin-right: 1em;
    border: solid 1px gray;
}

.profile-states-list{
    list-style-type: none;
    padding-left: 0em;
}

.profile-states-list{
    font-weight: normal;
}

.profile-states-list .polyclave-state-image-small{
    height: 60px;
    vertical-align:middle;
    margin-right: 0.5em;
    margin-bottom: 0.1em;
    border: solid 1px gray;   
}

img.polyclave-about-logo{
    width: 100%;
    max-width: 300px;
     box-shadow: 2px 2px 7px #666666;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#birds-of-the-middle-east{
   width: 33%;
   max-width: 320px;
   display: block;
   float: right;
   margin-left: 1em;
   margin-top: 0.25em;
   margin-bottom: 0.25em;

   box-shadow: 2px 2px 7px #666666;
   
}

#index-page div.ui-content,
#about-page div.ui-content{
    padding: 0px;
    text-align: justify;
}

#index-page div.ui-content h2,
#index-page div.ui-content h3,
#index-page div.ui-content p,
#about-page div.ui-content h2,
#about-page div.ui-content h3,
#about-page div.ui-content p
{
    margin-left: 16px;
    margin-right: 16px;
}

#index-page div.ui-content ul,
#index-page div.ui-content ol{
   margin-right: 16px;
}


#index-page img.polyclave-banner,
#about-page img.polyclave-banner{
    max-width: 100%;
}

img.polyclave-banner{
    width: 100%;
    
}

div#index-page{
   
}

div#index-page div[data-role="content"]{
    
}

.ui-btn-icon-left:after, .ui-btn-icon-right:after, .ui-btn-icon-top:after, .ui-btn-icon-bottom:after, .ui-btn-icon-notext:after{
  background-color: #6a734e;
}

/*
fieldset.ui-controlgroup div.ui-controlgroup-controls div.ui-checkbox label.ui-btn{
    
    vertical-align: middle;
    color: red;
}
*/
