.filterState{
    display: none;
}

.speciesTitle{
    margin: 0px;
}
.speciesSubtitle{
    margin-top: 0.3em;
    margin-bottom: 0.8em;
    padding-bottom: 0.3em;
    border-bottom: 1px gray solid;
}

.hidden{
    display: none;
}

li.polyclave-current-species{
    border: solid black 1px;
}

#profile-page-thumbs{
    padding:8px;
}

#profile-page-thumbs img{
    float: left;
    width: 25%;
    margin-right: 0.5em;
    padding: 5px;
    border: solid #cccccc 1px;
}

div.profile-notes{
    width: 100%;
    margin-bottom: 1em;
}

#polyclave-audio-button{

}

ul#profile-characters{
    margin-top: 1em;
    clear: both;
}

#polyclave-filter-page-footer{
    text-align: right;
}

#polyclave-audio-button.stop-state{
    color:red;
}

#polyclave-audio-button.stop-state:after {
  background-color: red;
}

.polyclave-state-image{
    height: 60px;
    vertical-align:middle;
    margin-top: -9px;
    margin-bottom: -9px;
    margin-right: 1em;
    border: solid 1px gray;
}

.profile-states-list{
    list-style-type: none;
    padding-left: 0.5em;
}

.profile-states-list{
    font-weight: normal;
}

.profile-states-list .polyclave-state-image-small{
    height: 60px;
    vertical-align:middle;
    margin-right: 0.5em;
    margin-bottom: 0.1em;
    border: solid 1px gray;   
}



/*
fieldset.ui-controlgroup div.ui-controlgroup-controls div.ui-checkbox label.ui-btn{
    
    vertical-align: middle;
    color: red;
}
*/
